<div class="container">
        <h1>Car Sales Data</h1>
        <form action="/search/invoiceNo" method="post">
            <label for="InvoiceID">Enter Invoice Number:</label>
            <input type="text" id="InvoiceID" name="InvoiceID" required>
            <button type="submit">Search</button>
        </form>